<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehelp" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.ehelp.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.ehelp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".account.login"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehelp.Test" />
        </activity>
        <activity
            android:name=".account.SignUp"
            android:label="Sign up"
            android:parentActivityName=".account.login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehelp.account.login" />
        </activity>
        <activity
            android:name=".account.FindPassword"
            android:label="Find password"
            android:parentActivityName=".account.login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehelp.account.login" />
        </activity>
        <activity
            android:name=".account.ResetPassword"
            android:label="Reset password"
            android:parentActivityName=".account.login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehelp.account.login" />
        </activity>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ehelp" />
            </intent-filter>
        </activity>

        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.ehelp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="newappkey" /> <!-- </>值来自开发者平台取得的AppKey -->

        <activity
            android:name=".send.SendQuestion"
            android:label="@string/title_activity_send_question" >
        </activity>
        <activity
            android:name=".send.SendSOS"
            android:label="@string/title_activity_send_sos" >
        </activity>
        <activity
            android:name=".send.SendHelp"
            android:label="@string/title_activity_send_help" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.pinyin.ContactlistActivity"
            android:label="@string/title_activity_contactlist"
            android:parentActivityName=".Test" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehelp.Test" />
        </activity>
        <activity
            android:name=".user.pinyin.adapterchatActivity"
            android:label="@string/title_activity_adapterchat" >
        </activity>
        <activity
            android:name=".user.pinyin.homepageActivity"
            android:label="@string/title_activity_homepage" >
        </activity>
        <activity
            android:name=".user.pinyin.UsermesActivity"
            android:label="@string/title_activity_usermes" >
        </activity>
        <activity
            android:name=".user.pinyin.messageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".map.BMapApiDemoMain"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_bmap_api_demo_main"
            android:parentActivityName=".Test"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ehelp.Test" />
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name=".evaluate.Comment"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".user.Myhistory"
            android:label="@string/title_activity_myhistory" >
        </activity>
        <activity
            android:name=".user.pinyin.MessetnameActivity"
            android:label="@string/title_activity_mesnotename" >
        </activity>
        <activity
            android:name=".account.RegisterPassword"
            android:label="@string/title_activity_register_password" >
        </activity>
        <activity
            android:name=".user.pinyin.Health"
            android:label="@string/title_activity_health" >
        </activity>
        <activity
            android:name=".receive.QuestionDetail"
            android:label="@string/title_activity_question_detail" >
        </activity>
    </application>

</manifest>
